html,
* {
  margin: 2px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(56, 54, 54);
}

body {
  text-align: center;
}




.cardbox {
  display: flex;
  flex: 20%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;

}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(0, 0, 0);
  height: 400px;
  width: 500px;
  background-color: rgb(43, 41, 41);
  border-radius: 100px;
  align-items: center;
  margin: 20px;
  justify-content: center;
}

.image{
  margin: 0;
  overflow: hidden;
  object-fit: cover;
  height: 50%;
  border-radius: 50px;
}

.name,
.price,
.studio {
  width: 200px;
  justify-content: center;
  background-color: rgb(43, 41, 41);
  color: rgb(176, 142, 142);
}


.button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}


.card:hover {
  transition: 0.2s;
  transform: scale(1.1);
  background-color: rgb(92, 92, 92);
}

.card:hover .name,
.card:hover .price,
.card:hover .studio,
.card:hover .image {
  transition: 0.2s;
  transform: scale(1.1);
  background-color: rgb(92, 92, 92);
}