html,
* {
  margin: 2px;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--secondary);
}

body {
  text-align: center;
}

:root{
  --black:rgb(0, 0, 0);
  --white:rgb(255, 255, 255);
  --red-gray:rgb(176, 142, 142);
  --dark-gray:rgb(92, 92, 92);
  --light-gray:rgb(156, 156, 156);
  --darker-gray:rgb(39, 39, 39);
  --lighter-gray:rgb(201, 201, 201);
  --blue-gray:rgb(118, 150, 148);
  --dark-back:rgb(56, 54, 54);
  --light-back:rgb(223, 223, 223);

  --h1:7.594rem;
  --h2:5.063rem;
  --h3:3.375rem;
  --h4:2.25rem;
  --h5:1.5rem;
}

.dark{
  --primary: var(--black);
  --secondary: var(--dark-back);
  --thirdary: var(--dark-gray);
  --fourthdary: var(--darker-gray);
  --fifthdary: var(--red-gray);
  --sixdary: var(--white);
}

.light{
  --primary:var(--white);
  --secondary:var(--light-back);
  --thirdary:var(--light-gray);
  --fourthdary:var(--lighter-gray);
  --fifthdary:var(--blue-gray);
  --sixdary:var(--black);
}



.title{
  color: var(--primary);
  font-size: 70px;
}



.cardbox {
  display: flex;
  flex: 20%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;

}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary);
  height: 400px;
  width: 500px;
  background-color: var(--fourthdary);
  border-radius: 100px;
  align-items: center;
  margin: 20px;
  justify-content: center;
}

.image{
  margin: 0;
  overflow: hidden;
  object-fit: cover;
  height: 50%;
  border-radius: 50px;
}

.name,
.price,
.studio {
  width: 200px;
  justify-content: center;
  background-color: var(--fourthdary);
  color: var(--fifthdary);
}


.button {
  color: var(--sixdary);
  background-color: var(--primary);
}


.card:hover {
  transition: 0.2s;
  transform: scale(1.1);
  background-color: var(--thirdary);
}

.card:hover .name,
.card:hover .price,
.card:hover .studio,
.card:hover .image {
  transition: 0.2s;
  transform: scale(1.1);
  background-color: var(--thirdary);
}

.button{
  scale: 1.1;
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .cardbox {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
  }

  .card {
      width: 100%;
      height: 100%;
      flex-direction: column;
      margin: 10px;
      flex: 40%;
  }

  .image {
      height:200px ;
  }
}

@media screen and (max-width: 480px) {
  .cardbox {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
  }

  .card {
      width: 100%;
      height: 100%;
      flex-direction: column;
      margin: 10px;
      flex: 100%;
  }

  .image {
      height: 200px;
  }
}