html,
* {
  margin: 2px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(56, 54, 54);
}

body {
  text-align: center;
}




.cardbox {
  display: flex;
  flex: 20%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;

}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(61, 56, 85);
  height: 300px;
  width: 500px;
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
}

.name,
.price,
.studio {
  background-color: rgb(0, 0, 0);
  color: rgb(176, 142, 142);
  border-radius: 100px;
}


.button {
  background-color: rgb(255, 129, 129);
}

.card:hover {
  transition: 0.2s;
  transform: scale(1.1);
  background-color: rgb(92, 92, 92);
}